.-grey {
    background: lightcyan;    
    margin-bottom: 1px;
}

h1 {
    font-size: 58px; 
    font-weight: 500;
    color: white;
    
}

p {
    color: white;
    font-size: 20px;
     font-weight: 300; 
     margin-top: 0.5em;
}

body {
    font-family: 'Montserrat' !important; 
    width:100% !important; 
    overflow-x: hidden !important;
}

.navbar-fixed {
    z-index: 1000;
}


/*--------social icons---------*/
.social-icons
{
    top: 150%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}

.social-icons ul{
    padding: initial;
}

.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #ffff;
    background: #3D4351;
}

.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 1s;
}

a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}


/*---------------Contact-------------*/

.contact {
    
    padding-top: 40px;
   background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/background.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   color: #fff;
   
}

.contact .row {
   padding: 30px 0;
   font-size: 22px;
}

.contact .col-md-4 .fa{
   padding: 10px;
   font-size: 40px;
}

